.address {
  display: flex;
  align-items: center;
  gap: 10px;

  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  white-space: nowrap;

  .interactive-styles-links();
}

.address__icon-container {
  position: relative;

  width: 28px;
  height: 28px;
}

.address__icon-container svg {
  position: absolute;
}

.address--phone svg {
  top: 4px;
  left: 4px;
}

.address--mail svg {
  top: 6px;
  left: 4px;
}
