.app-btn {
  position: relative;
  width: calc(@min-width - 2 * @mobile-padding);

  min-height: 70px;
  padding: 18px;

  font-weight: 400;
  font-size: 20px;
  line-height: 30px;
  text-align: center;

  border: 2px solid @color-font-orange;

  @media (min-width: @tablet-width) {
    width: 260px;
  }

  &--card {
    // width: 100%; временно для тестирования
    min-height: auto;
    padding: 6px 10px 10px;
  }

  &--dark {
    color: @color-font-white;
    background-color: @color-btn-dark-orange;
  }

  &--light {
    color: @color-font-orange;
    background-color: @color-back-light-01;
  }

  &:hover {
    color: @color-font-white;
    background-color: @color-font-orange;
  }

  &:focus-visible {
    color: @color-font-white;
    background-color: @color-font-orange;
    outline: none;
  }
}

.app-btn__decor {
  position: absolute;
  top: 50%;

  // display: block;
  // width: 17px;
  // height: 20px;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;
    transform: translateY(-50%);

    width: 0;
    height: 0;
  }

  &::before {
    .decor-triangle(17px, 20px, @color-font-orange);
  }

  &--left {
    left: 0;
    transform: translateX(-100%) translateY(-50%) rotate(180deg);
  }

  &--right {
    right: 0;
    transform: translateX(100%) translateY(-50%);
  }
}

.app-btn--dark .app-btn__decor::after {
  .decor-triangle(13px, 16px, @color-btn-dark-orange);
}

.app-btn--light .app-btn__decor::after {
  .decor-triangle(13px, 16px, @color-back-light-01);
}

.app-btn:hover .app-btn__decor::after,
.app-btn:focus-visible .app-btn__decor::after {
  .decor-triangle(13px, 16px, @color-font-orange);
}
