.brands {
  .wrapper-width();
}

.brands__content {
  display: flex;
  justify-content: space-between;
  align-items: end;
  gap: 20px;

  .wrapper();

  margin-bottom: 30px;

  @media (min-width: @md-width) {
    margin-bottom: 38px;
  }

  @media (min-width: @xl-width) {
    margin-bottom: 30px;
  }
}

.brands__title {
  font-family: @font-title;
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;

  & span:last-of-type {
    display: none;
  }

  @media (min-width: @md-width) {
    font-size: 50px;
    line-height: 65px;

    & span:last-of-type {
      display: inline;
    }

    & span:first-of-type {
      display: none;
    }
  }

  @media (min-width: @xl-width) {
    font-size: 60px;
    line-height: 60px;
  }
}

.brands__btn {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;

  .interactive-styles();

  @media (min-width: @md-width) {
    font-size: 25px;
    line-height: 35px;
  }
}

.brands__slider-container {
  position: relative;
  .wrapper();
}

.brands__slider {
  position: relative;

  border: none;

  overflow: hidden;

  &::before,
  &::after {
    position: absolute;
    content: "";
    inset: auto;

    .decor-triangle(6px, 6px, @color-font-grey-1);

    z-index: 10;
  }

  &::before {
    left: 0;
    top: 50%;
    transform: translateY(-50%);
  }

  &::after {
    right: 0;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
  }
}

.brands__list {
  display: flex;
}

.brands__item {
  position: relative;

  flex-shrink: 0;

  display: flex;
  flex-direction: column;

  width: auto;

  .border-decor-triangle--right(6px, 6px, 1px, @color-font-grey-1);
}

.brands__link-container {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 7px;

  @media (min-width: @md-width) {
    padding: 19.5px;
  }

  &:first-of-type {
    padding-top: 0;
  }

  &:last-of-type {
    padding-bottom: 0;
  }

  &:not(:last-of-type) {
    border-bottom: 1px solid @color-font-grey-1;
  }
}

.brands__link:hover,
.brands__link:focus-visible {
  .interactive-styles-custom();
}

.brands__img {
  width: 108px;
  height: 42px;
  object-fit: contain;

  @media (min-width: @md-width) {
    width: 216px;
    height: 84px;
  }

  @media (min-width: @xl-width) {
    width: 211px;
    height: 82px;
  }
}

.brands__slider-btn {
  display: none;

  @media (min-width: @xl-width) {
    position: absolute;
    content: "";
    top: 50%;
    z-index: 1;

    display: block;

    transform: translateY(-50%);
  }
}

.brands__slider-btn--prev {
  left: 12px;
}

.brands__slider-btn--next {
  right: 12px;
}

/* NO-JS */
.brands--no-js .brands__slider {
  overflow: auto;

  &::before,
  &::after {
    display: none;
  }
}

.brands--no-js .brands__slider-controls {
  display: none;
}
