.card-mark {
  position: relative;

  padding: 4px 18px 4px 9px;

  font-size: 15px;
  font-weight: 400;
  line-height: 19px;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;

    width: 0;
    height: 0;
  }

  &::before {
    right: 0;
    transform: translateY(-50%) rotate(180deg) ;
  }

  &::after {
    right: -1px;

    .decor-triangle(11px, 29px, @color-back-light-02);
    transform: translateY(-50%) rotate(180deg);
  }

  &--new {
    .set-color(@color-orange);
  }

  &--hit {
    .set-color(@color-violet);
  }
}

.set-color(@color) {
  color: @color;
  border: 1px solid @color;

  &::before {
    .decor-triangle(11px, 29px, @color);
  }
}
