.cards {
  padding-top: 51px;
  padding-bottom: 67px;

  @media (min-width: @tablet-width) {
    padding-top: 71px;
    padding-bottom: 80px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 110px;
    padding-bottom: 120px;
  }
}

.cards__filter {
  box-sizing: border-box;
  .wrapper();

  margin-bottom: 30px;

  @media (max-width: (@tablet-width - 1)) {
    padding-right: 0;
    padding-left: 0;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 35px;
  }
}

.cards__form {
}

.cards__form-group {
}

.cards__form-list-container{
  @media (max-width: (@tablet-width - 1)) {
    width: calc(100vw - 23px - 2 * @mobile-padding);
    padding-right: @mobile-padding;
    padding-left: @mobile-padding;
    overflow: hidden;
  }
}

.cards__form-list {
  display: flex;
  gap: 24px;
  transform: translateX(-346px);

  @media (min-width: @tablet-width) {
    transform: translateX(0);
  }

  @media (min-width: @desktop-width) {
    justify-content: center;
    gap: 60px;
  }
}

.cards__catalog {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, 280px);
  justify-content: center;

  .wrapper();

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(auto-fit, 229px);
    // width: 229px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(auto-fit, 289px);
    // width: 289px;
  }
}
