.card-mark {
  position: relative;

  padding: 4px 18px 4px 9px;

  font-size: 15px;
  font-weight: 400;
  line-height: 19px;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;
    transform: translateY(-50%);

    width: 0;
    height: 0;
  }

  &::before {
    right: 0;

    border-top: 14.5px solid transparent;
    border-bottom: 14.5px solid transparent;
    border-right: 11px solid transparent;
  }

  &::after {
    right: -1px;

    border-top: 14.5px solid transparent;
    border-bottom: 14.5px solid transparent;
    border-right: 11px solid @color-back-light-02;
  }

  &--new {
    .set-color(@color-orange);
  }

  &--hit {
    .set-color(@color-violet);
  }
}

.set-color(@color) {
  color: @color;
  border: 1px solid @color;

  &::before {
    border-right-color: @color;
  }
}
