.card-slider {

}

.card-slider__pagination {
  height: 16px;
}

.card-slider__pagination-item {
  height: 6px;
}

.card-slider__pagination-btn {
  display: block;
  width: 6px;
  height: 6px;

  background-color: @color-btn-grey;

  &--active {
    background-color: @color-btn-dark-orange;
  }
}

