.cards {
  padding-top: 60px;
  padding-bottom: 67px;

  @media (min-width: @tablet-width) {
    padding-top: 80px;
    padding-bottom: 80px;
  }

  @media (min-width: @desktop-width) {
    padding-top: 120px;
    padding-bottom: 120px;
  }
}

.cards__filter {
  box-sizing: border-box;
  .wrapper();

  width: calc(100vw - 25px);
  overflow: hidden;

  margin-bottom: 30px;



  @media (max-width: (@tablet-width - 1)) {
    padding-right: 0;
  }
}

.cards__filter-form {
  width: calc(100vw - 25px);
  overflow: hidden;

}

.cards__filter-form-group {
  width: calc(100vw - 25px);
  overflow: hidden;

}

.cards__catalog {
  display: flex;
  gap: 20px;
  justify-content: space-around;

  .wrapper();

}
