.catalog-toggle {
  position: relative;

  width: fit-content;
  padding-right: 65px;

  font-size: 20px;
  line-height: 30px;
  font-weight: 400;

  .interactive-styles();

  &::before {
    position: absolute;
    content: "";
    top: 12px;
    right: 0;

    .decor-triangle(6px, 6px, @color-orange);
    transform: rotate(90deg);
  }


  @media (min-width: @desktop-width) {
    padding-right: 37px;

    font-size: 25px;
    line-height: 35px;

    &::before {
      border: none;
      transform: none;
    }

    .burger-icon(@color-orange);
  }
}
