.catalog-list {
  display: grid;
  row-gap: 13px;

  font-size: 17px;
  line-height: 26px;
  font-weight: 400;

  @media (min-width: @desktop-width) {
    grid-template-rows: repeat(6, min-content);
    grid-auto-flow: column;
    column-gap: 40px;
    min-height: 221px;
  }
}

.catalog-list__link {
  .interactive-styles();
}
