.favorite-btn {
    position: absolute;
    z-index: 2;
    top: 30px;
    right: 30px;

    width: 28px;
    height: 28px;

    color: @color-dark-orange;
}

.favorite-btn svg {
  position: absolute;
  top: 5px;
  left: 4px;

  fill-rule: evenodd;
}

.favorite-btn--active svg {
  color: @color-orange;
  fill-rule: nonzero;
}

.favorite-btn:hover svg {
  color: @color-orange;
  fill-rule: nonzero;
}
