.intro {
  color: @color-font-white;
  background-color: @color-back-black-02;
}

.intro__slider {
  position: relative;
  .wrapper-width();

  overflow: hidden;
}

.intro__slider-list {
  display: flex;
}

.intro__slider-item {
  flex-shrink: 0;
  position: relative;

  width: 100%;
}

.intro__slider-img {
  width: 100%;
  height: 321px;
  object-fit: cover;
  object-position: center;

  @media (min-width: @md-width) {
    height: 536px;
  }

  @media (min-width: @xxl-width) {
    height: 700px;
  }
}

.intro__slider-note {
  position: absolute;

  bottom: 15px;
  right: 15px;
}

.intro__content-container {
  display: grid;
  justify-content: center;

  .wrapper-padding();

  padding-top: 10px;
  padding-bottom: 20px;

  pointer-events: none;

  @media (min-width: @md-width) {
    position: absolute;
    inset: 0;
    z-index: 10;

    grid-template-columns: 1fr;
    gap: 70px;
    justify-content: start;

    width: 100%;
    height: 100%;
    margin: 0 auto;
    padding-top: 48px;
    padding-bottom: 72px;
  }

  @media (min-width: @xl-width) {
    grid-template-columns: 1fr min-content;
    align-items: center;

    padding-top: 50px;
    padding-bottom: 150px;
  }
}

.intro__content {
  max-width: 280px;

  @media (min-width: @md-width) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    max-width: 480px;
  }

  @media (min-width: @xl-width) {
    max-width: 600px;
  }
}

.intro__title {
  margin-bottom: 20px;

  font-family: @font-title;
  font-weight: 400;
  font-size: 35px;
  line-height: 35px;
  color: @color-orange;

  @media (min-width: @md-width) {
    margin-bottom: 30px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @xl-width) {
    font-size: 75px;
    line-height: 75px;
  }
}

.intro__description {
  margin-bottom: 40px;

  font-size: 20px;
  font-weight: 400;
  line-height: 28px;

  @media (min-width: @md-width) {
    margin-bottom: 40px;

    font-size: 25px;
    line-height: 35px;
  }

  @media (min-width: @xl-width) {
    margin-bottom: 60px;
  }
}

.intro__btn {
  pointer-events: all;

  @media (min-width: @md-width) {
    margin-left: 15px;
  }
}

.intro__slider-controls {
  pointer-events: all;

  @media (min-width: @md-width) {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  @media (min-width: @xl-width) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;

    margin-bottom: 28px;
  }
}

.intro__arrow-btn {
  display: none;

  @media (min-width: @xl-width) {
    display: block;
  }
}

.intro__pagination {
  position: static;

  @media (max-width: (@md-width - 0.2px)) {
    display: none;
  }
}
