.intro {
  color: @color-font-light;
  background-color: @color-back-dark-2;
}

.intro__slider {
  display: grid;
}

.intro__slider-wrapper {
  @media (min-width: @tablet-width) {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }
}

.intro__wrapper {
  display: grid;

  .wrapper();
  padding-top: 10px;
  padding-bottom: 20px;

  @media (max-width: (@tablet-width - 1)) {
    padding-left: 5px;
    padding-right: 5px;
  }

  @media (min-width: @tablet-width) {
    grid-row: 1 / -1;
    grid-column: 1 / -1;

    grid-template-rows: min-content min-content;
    gap: 70px;

    padding-top: 48px;
    padding-bottom: 72px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr min-content;
    grid-template-rows: auto;
    align-items: center;

    padding-top: 110px;
    padding-bottom: 210px;
  }
}

.intro__content {
  @media (min-width: @tablet-width) {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
}

.intro__title {
  box-sizing: border-box;
  max-width: 295px;
  margin-bottom: 21px;
  padding-left: 15px;

  font-family: "Forum";
  font-size: 35px;
  font-weight: 400;
  line-height: 35px;

  color: @color-font-bright;

  @media (min-width: @tablet-width) {
    max-width: 480px;
    margin-bottom: 30px;
    padding: 0;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
    max-width: 600px;

    font-size: 75px;
    line-height: 75px;
  }
}

.intro__description {
  box-sizing: border-box;
  max-width: 295px;
  margin-bottom: 39px;
  padding-left: 15px;

  font-size: 20px;
  font-weight: 400;
  line-height: 28px;

  @media (min-width: @tablet-width) {
    max-width: 480px;
    padding-left: 0;
    margin-bottom: 40px;

    font-size: 25px;
    line-height: 35px;
  }

  @media (min-width: @desktop-width) {
    max-width: 600px;
    margin-bottom: 60px;
  }
}

.intro__btn {
  width: 310px;
  min-height: 70px;
  padding: 20px 20px 20px 20px;

  background-image: url("../../img/btn-back-310.svg");
  background-repeat: no-repeat;
  background-size: 310px 70px;
  background-position: center;

  @media (min-width: @tablet-width) {
    width: 275px;

    background-image: url("../../img/btn-back-275.svg");
    background-size: 275px 70px;
  }
}

.intro__slider__img {
  object-fit: cover;
}

.intro__slider-controls {
  @media (min-width: @tablet-width) {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1 / 2;
    grid-column: 2 / 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}

.intro__slider-arrow-btn {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
  }
}

.intro__slider-pagination {
  display: none;

  @media (min-width: @tablet-width) {
    display: flex;
    gap: 15px;
    justify-content: center;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column-reverse;
  }
}
