.intro-slider__arrow {
  position: relative;

  width: 40px;
  height: 40px;

  border: 1.5px solid @color-font-orange;


  &::before,
  &::after {
    position: absolute;
    right: 0;
    left: 0;
    content: "";

    margin: 0 auto;
  }

  &::before {
    width: 2px;
    height: 36px;

    background-color: @color-font-orange;
  }

  &::after {
    .decor-rhombus(5.9px, @color-font-orange);
  }

  &--prev::before {
    bottom: 21px;
  }

  &--next::before {
    top: 21px;
  }

  &--prev::after {
    bottom: 54px;
  }

  &--next::after {
    top: 56px;
  }

  &:hover::before {
    height: 64px;
  }

  &--prev:hover:after {
    bottom: 83px;
  }

  &--next:hover:after {
    top: 83px;
  }
