.intro {
  display: grid;
  grid-template-columns: 1fr;

  color: @color-font-light;
  background-color: @color-back-dark-2;


}

.intro__content {
  .wrapper();
  padding-top: 10px;
  padding-bottom: 20px;

  @media (max-width: (@tablet-width - 1)) {
    padding-left: 5px;
    padding-right: 5px;
  }

  @media (min-width: @tablet-width) {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
}

.intro__title {
  margin-bottom: 20px;
  padding: 0 15px;

  font-family: "Forum";
  font-size: 35px;
  font-weight: 400;
  line-height: 35px;

  color: @color-font-bright;
}

.intro__description {
  margin-bottom: 40px;
  padding: 0 15px;

  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.intro__btn {
  width: 310px;
  min-height: 70px;
  padding: 20px;

  background-image: url("../../img/btn-back.svg");
  background-repeat: no-repeat;
  background-size: 310px 70px;
  background-position: center;
}

.intro__slider {
  order: -1;

  @media (min-width: @tablet-width) {
    grid-row: 1 / 1;
    grid-column: 1 / 1;
  }
}

.intro__slider__img {
  width: 100%;
}

.intro__slider-controls {
  display: none;
}
