.main-nav {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  column-gap: 50px;

  min-height: 80px;
  .wrapper();

  @media (min-width: @tablet-width) {
    grid-template-columns: min-content 1fr auto;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: minmax(90px, min-content) auto;

    min-height: 160px;
  }
}

.main-nav__site-toggle {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__contacts {
  @media (max-width: (@desktop-width - 0.2px)) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;

    margin-top: 23px;
  }
}

.main-nav__logo {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;

    grid-row: 1 / 2;
    grid-column: 2 / 3;

    width: 192px;
    height: 63px;

    .interactive-styles-custom();
  }
}

.main-nav__user-block {
  justify-self: end;

  margin-top: 4px;
  margin-right: 12px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    grid-row: 1 / 2;
    grid-column: 3 / 4;

    margin-top: 5px;
  }
}

.main-nav__user-list {
  display: flex;
  gap: 50px;
}

.main-nav__favorites {
  @media (max-width: (@mobile-width - 0.2px)) {
    display: none;
  }
}

.main-nav__private {
  @media (max-width: (@mobile-width - 0.2px)) {
    display: none;
  }
}

.main-nav__menu-block {
  display: none;

  @media (min-width: @tablet-width) {
    display: block;

    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }

  @media (min-width: @desktop-width) {
    grid-row: 2 / 2;
    grid-column: 1 / 4;

    display: grid;
    grid-template-columns: min-content 1fr auto;
    gap: 60px;
    align-items: center;
    padding: 13px 0 12px;

    .border-decor-triangle--top(6px, 6px, 1px, @color-dark-orange);
  }
}

.main-nav__menu-toggle {
  @media (max-width: (@desktop-width - 0.2px)) {
    display: none;
  }
}

.main-nav__search-form {
  @media (max-width: (@tablet-width - 0.2px)) {
    display: none;
  }
}

.main-nav__site-list {
  @media (max-width: (@desktop-width - 0.2px)) {
    display: none;
  }

  display: flex;
  gap: 60.6px;
  flex-wrap: wrap;
}
