.main-nav {
  position: relative;
  display: grid;
  grid-template-rows: min-content auto;
}

.main-nav__top {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  column-gap: 50px;

  z-index: 11;

  min-height: 80px;
  .wrapper();

  @media (min-width: @tablet-width) {
    grid-template-columns: min-content 1fr auto;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr min-content 1fr;

    min-height: 90px;
  }
}

.main-nav__site-toggle {
  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__top-contacts {
  @media (max-width: (@desktop-width - 0.2px)) {
    display: none;
  }

  @media (min-width: @desktop-width) {
    margin-top: 23px;
  }
}

.main-nav__logo {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    width: 192px;
    height: 63px;

    .interactive-styles-custom();
  }
}

.main-nav__logo img {
  width: 100%;
  height: 100%;
}

.main-nav__top-search-form {
  display: none;

  @media (min-width: @tablet-width) {
    display: block
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__top-user-list {
  justify-self: end;

  display: flex;
  gap: 50px;

  margin-top: 6px;
  margin-right: 12px;

  @media (min-width: @tablet-width) {
    margin-top: 0;
    margin-right: 0;
  }

  @media (min-width: @desktop-width) {
    margin-top: 5px;
  }
}

.main-nav__top-user-list .main-nav__favorites {
  @media (max-width: (@mobile-width - 0.2px)) {
    display: none;
  }
}

.main-nav__top-user-list .main-nav__private {
  @media (max-width: (@mobile-width - 0.2px)) {
    display: none;
  }
}

.main-nav__bottom {
  position: absolute;
  top: 0;
  left:0;
  z-index: 10;

  grid-column: 1 / -1;
  grid-row: 2 / -1;

  width: 100%;

  color: @color-font-white;
  background-color: @color-back-black-01;

  transition: transform 1s, opacity 1s;
  transform: translateY(-100%);
  opacity: 0;


  @media (min-width: @desktop-width) {
    position: static;

    .wrapper();

    transition: none;
    transform: none;
    opacity: 1;
  }
}

.main-nav--opened .main-nav__bottom {
  z-index: 100;

  transform: translateY(0);
  opacity: 1;
}

.main-nav__bottom-menu  {
  position: relative;

  padding: 25px @mobile-padding 40px;

  .border-decor-triangle--top(6px, 6px, 1px, @color-dark-orange);

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: min-content 1fr auto;
    gap: 60px;
    align-items: center;
    padding-top: 13px;
    padding-bottom: 12px;
  }
}

.main-nav__catalog-toggle {
  margin-bottom: 20px;

  @media (min-width: @desktop-width) {
    margin-bottom: 0;
  }
}

.main-nav__bottom-search-form {
 order: 1;

  @media (min-width: @tablet-width) {
    display: none
  }

  @media (min-width: @desktop-width) {
    order: 0;
    display: block;
  }
}

.main-nav__site-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-bottom: 20px;

  @media (min-width: @desktop-width) {
    flex-direction: row;
    gap: 60.6px;
    flex-wrap: wrap;

    margin-bottom: 0;
  }
}

.main-nav__bottom-user-list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  margin-bottom: 24px;

  @media (min-width: @tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: @desktop-width) {
    display: none;
  }
}

.main-nav__bottom-user-list .main-nav__basket {
  display: none;
}

.main-nav__bottom-contacts {
  position: relative;

  display: grid;
  padding: 40px @mobile-padding 60px;

  .border-decor-triangle--top(6px, 6px, 1px, @color-dark-orange);

  @media (min-width: @desktop-width) {
    display: none;
  }
}
