.offers {
  display: grid;
  gap: 20px;

  .wrapper-width();

  @media (min-width: @md-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.offers__block {
  display: grid;
  grid-template-columns: 1fr;

  background-color: @color-back-black-01;
}

.offers__block-content {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
  z-index: 1;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;

  height: 100%;
  padding: 30px @sm-padding 50px;

  @media (min-width: @md-width) {
    padding: 40px @md-padding 48px;
  }

  @media (min-width: @xxl-width) {
    width: calc(@xxl-width / 2 - @xxl-padding - 10px);
  }
}

.offers__block:nth-of-type(2n + 1) .offers__block-content {
  @media (min-width: @xl-width) {
    padding-left: @xl-padding;
  }
}

.offers__block:nth-of-type(2n) .offers__block-content {
  @media (min-width: @xl-width) {
    padding-right: @xl-padding;
  }
}

.offers__block:nth-of-type(2n + 1) .offers__block-content {
  @media (min-width: @xxl-width) {
    justify-self: end;
    padding-left: 0;
  }
}

.offers__block:nth-of-type(2n) .offers__block-content {
  @media (min-width: @xxl-width) {
    justify-self: start;
    padding-right: 0;
  }
}

.offers__subtitle {
  max-width: 190px;

  font-size: 25px;
  font-weight: 700;
  line-height: 32px;
  color: @color-font-white;

  @media (min-width: @md-width) {
    max-width: 230px;

    font-size: 30px;
    line-height: 39px;
  }

  @media (min-width: @xxl-width) {
    max-width: 310px;

    font-size: 40px;
    line-height: 52px;
  }
}

.offers__btn {
  margin-left: 3px;

  font-size: 20px;
  font-weight: 400;
  line-height: 30px;

  color: @color-orange;

  .border-decor-rhombus--bottom(4.2px, 1px, @color-orange);

  .interactive-styles-custom();
}

.offers__img-container {
  grid-row: 1 / -1;
  grid-column: 1 / -1;
}

.offers__img {
  width: 100%;
  height: 300px;

  object-fit: cover;
  object-position: center;

  @media (min-width: @xl-width) {
    height: 420px;
  }

  @media (min-width: @xxl-width) {
    height: 470px;
  }
}

.offers__block:nth-of-type(2n + 1) .offers__img {
  object-position: right;
}

.offers__block:nth-of-type(2n) .offers__img {
  object-position: left;
}
