.page-footer {
  color: @color-font-white;
  background-color: @color-back-black-01;
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;

  .wrapper();

  @media (max-width: (@desktop-width - 1)) {
    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: @desktop-width) {
    flex-direction: row;
  }
}

.page-footer__menu-block {
  display: grid;
  gap: 35px;

  padding: 56px @mobile-padding 60px;

  .border-decor-triangle--horisontal(6px, 6px, bottom, 1px, @color-btn-dark-orange);

  @media (min-width: @tablet-width) {
    grid-template-columns: min-content 1fr;
    grid-template-rows: min-content auto;
    gap: 24px 114px;

    padding: 70px @tablet-padding;
  }

  @media (min-width: @desktop-width) {
    gap: 52px 71px;
    padding: 139px 106px 120px @desktop-padding;

    .border-decor-triangle--vertical(6px, 6px, right, 1px, @color-btn-dark-orange);
  }
}

.page-footer__logo {
  width: 266px;
  height: 95px;

  @media (min-width: @tablet-width) {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
}

.page-footer__logo-img {
  width: 266px;
  height: 95px;
}

.page-footer__policy {
  display: none;

  font-size: 14px;
  font-weight: 400;
  line-height: 21px;

  .interactive-styles();

  @media (min-width: @tablet-width) {
    grid-row: 2 / 3;

    display: block;
  }
}

.page-footer__site-list {
  font-size: 17px;
  font-weight: 500;
  line-height: 23px;

  @media (min-width: @tablet-width) {
    grid-row: 1 / 3;
    grid-column: 2 / 3;
  }
}

.page-footer__contacts {
  padding: 65px @mobile-padding 60px;


  @media (min-width: @tablet-width) {
    padding: 70px @tablet-padding;
  }

  @media (min-width: @desktop-width) {
    padding: 129px @desktop-padding 131px 102px ;
  }
}
