.page-footer {
  color: @color-font-white;
  background-color: @color-back-black-01;
}

.page-footer__menu-block {
  padding: 56px @mobile-padding 60px;
}

.page-footer__logo-img {
  width: 266px;
  height: 95px;
}

.page-footer__policy {
  display: none;
}

.page-footer__site-list {
  font-size: 17px;
  font-weight: 500;
  line-height: 23px;
}

.page-footer__contacts {
  padding: 65px @mobile-padding 60px;
}
