.pagination {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;

  &--vertical {
    @media (min-width: @desktop-width) {
      flex-direction: column;
    }
  }

  &--disabled {
    display: none;
  }
}

.pagination__item {
  display: flex;
}

.pagination__btn {
  position: relative;

  width: 16px;
  height: 16px;

  border: 1px solid @color-dark-orange;

  &:focus-visible {
    outline: none;
  }

  &::before {
    position: absolute;
    content: "";
    inset: 0;

    width: 10px;
    height: 10px;
    margin: auto;
  }

  &--current::before {
    background-color: @color-orange;
  }

  &:not(&--current):hover::before,
  &:not(&--current):focus-visible::before {
    background-color: @color-dark-orange;
  }

  &--current:hover,
  &--current:focus-visible {
    border-color: @color-orange;
  }
}
