.pagination {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;

  &--vertical {
    @media (min-width: @xxl-width) {
      flex-direction: column;
    }
  }

  &--disabled {
    display: none;
  }
}

.pagination__item {
  display: flex;
}

.pagination__btn {
  flex-shrink: 0;

  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  &:focus-visible {
    outline: none;
  }
  
  &::before {
    position: absolute;
    content: "";

    width: 16px;
    height: 16px;

    border: 1px solid @color-dark-orange;
  }

  &::after {
    position: absolute;
    content: "";

    width: 10px;
    height: 10px;
  }

  &--current::after {
    background-color: @color-orange;
  }

  &:not(&--current):hover::after,
  &:not(&--current):focus-visible::after {
    background-color: @color-dark-orange;
  }
}
