.promo-filter__list {
  display: flex;
  gap: 24px;

  padding: 0 3px;

  @media (min-width: @tablet-width) {
    // justify-content: center;
  }

  @media (min-width: @desktop-width) {
    gap: 60px;

    padding: 0 7px;
  }

}

.promo-filter__item {
  flex-shrink: 0;

  padding-bottom: 3px;

  @media (min-width: @desktop-width) {
    padding-bottom: 7px;
  }
}

.promo-filter__link {
  display: flex;
  flex-direction: column;
  gap: 6px;

  padding-bottom: 6px;

  font-size: 20px;
  font-weight: 500;
  line-height: 23px;
  letter-spacing: 0.025em;

  .interactive-styles();

  @media (min-width: @desktop-width) {
    padding-bottom: 7px;

    font-size: 30px;
    line-height: 34px;
  }

  &--current {
    color: @color-orange;

    .border-decor-rhombus--bottom(4.2px, 1px, @color-orange);

    @media (min-width: @desktop-width) {
      .border-decor-rhombus--bottom(8.3px, 2px, @color-orange);
    }
  }
}

.promo-filter__link:not(.promo-filter__link--current):hover .promo-filter__link-decor {
  opacity: 1;
}

.promo-filter__link--current .promo-filter__link-decor{
  opacity: 1;
}
