.promo {
  display: flex;
  flex-direction: column;
  align-items: center;

  .wrapper();
}

.promo__filter {
  width: 100%;
  margin-bottom: 30px;

  @media (min-width: @desktop-width) {
    margin-bottom: 35px;
  }
}

.promo-filter__slider-wrapper{
  overflow-x: hidden;
}

.promo-filter__list {
  box-sizing: border-box;
  width: @min-width;

  @media (min-width: @desktop-width) {
    padding-left: 25px;
  }
}

.promo__catalog {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(229px, 1fr));
  justify-content: center;

  width: 100%;
  margin-bottom: 21px;

  @media (min-width: @tablet-width) {
    grid-template-columns: repeat(auto-fit, minmax(229px, 1fr));
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: repeat(4, 1fr);

    margin-bottom: 50px;
  }
}

// .promo__btn-container {
//   display: flex;
//   justify-content: center;

//   margin: 0 auto;
// }

.promo__btn {
}
