.reviews {
  // .wrapper-width();
}

.reviews__title {
  .wrapper();

  margin-bottom: 28px;

  font-family: @font-title;
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 39px;

    font-size: 50px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 49px;

    font-size: 60px;
    line-height: 60px;
    text-align: center;
  }

}

.reviews__slider-wrapper {
  .wrapper();

  margin-bottom: 48px;

  overflow: hidden;

  @media (min-width: @tablet-width) {
    margin-bottom: 41px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 49px;
  }
}

.reviews__list {
  display: flex;
  gap: 20px;

  max-width: 280px;

  @media (min-width: @tablet-width) {
    max-width: 598px;
  }
}

.reviews__item {
  flex-shrink: 0;

  width: 100%;
  padding-top: 30px;
  padding-bottom: 6px;

  @media (min-width: @tablet-width) {
    padding-top: 50px;
  }
}

.reviews__item-wrapper {
  .border-decor-triangle--bottom(12px, 12px, 2px, @color-orange);
}

.reviews__item-content {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  min-height: 403px;
  padding: 50px 20px 39px;

  background-color: @color-back-black-01;
  .border-decor-triangle--top(12px, 12px, 2px, @color-orange);

  @media (min-width: @tablet-width) {
    min-height: 307px;
    padding: 50px;
  }
}

.reviews__img-container {
  position: absolute;
  top: -31px;
  left: 20px;

  @media (min-width: @tablet-width) {
    top: -51px;
    left: 50px;
  }
}

.reviews__img {
  width: 60px;
  height: 60px;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.reviews__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: @color-font-grey-1;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 24px;
  }
}

.reviews__link {
  position: relative;

  display: flex;
  align-items: center;

  height: 28px;
  padding-left: 43px;

  font-family: @font-title;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: @color-orange;

  &::before {
    position: absolute;
    content: "";
    top: 1px;
    left: 0;

    box-sizing: border-box;
    width: 28px;
    height: 28px;

    border: 1px solid @color-orange;

    background-image: url("../../img/instagram.svg");
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.reviews__slider-controls {
  display: none;
}
