.reviews {
  overflow: hidden;
}

.reviews__title {
  .wrapper();

  margin-bottom: 28px;

  font-family: @font-title;
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;

  @media (min-width: @md-width) {
    margin-bottom: 39px;

    font-size: 50px;
    line-height: 50px;
  }

  @media (min-width: @xl-width) {
    margin-bottom: 49px;

    font-size: 60px;
    line-height: 60px;
    text-align: center;
  }
}

.reviews__slider-container {
  position: relative;
  .wrapper();
}

.reviews__slider {
  position: relative;
  margin-bottom: 36px;

  overflow: visible;

  @media (min-width: @md-width) {
    margin-bottom: 30px;
  }

  @media (min-width: @xl-width) {
    margin-bottom: 38px;
  }
}

.reviews__list {
  display: flex;
}

.reviews__item {
  flex-shrink: 0;

  width: 280px;
  padding-top: 30px;
  padding-bottom: 10px;

  @media (min-width: @md-width) {
    width: 598px;
    padding-top: 50px;
  }
}

.reviews__item-wrapper {
  position: relative;

  .border-decor-triangle--bottom(12px, 12px, 2px, @color-orange);

  transition: opacity 0.2s ease, transform 0.6s ease;
  opacity: 0.3;
  transform: scale(0.857, 0.72);

  @media (min-width: @md-width) {
    transform: scale(0.9, 0.72);
  }
}

.reviews__item--visible .reviews__item-wrapper {
  opacity: 1;
  transform: scale(1);
}

.reviews__item-content {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  min-height: 403px;
  padding: 50px 20px 39px;

  background-color: @color-back-black-01;
  .border-decor-triangle--top(12px, 12px, 2px, @color-orange);

  @media (min-width: @md-width) {
    min-height: 307px;
    padding: 50px;
  }
}

.reviews__img-container {
  position: absolute;
  top: -31px;
  left: 20px;

  @media (min-width: @md-width) {
    top: -51px;
    left: 50px;
  }
}

.reviews__img {
  width: 60px;
  height: 60px;

  @media (min-width: @md-width) {
    width: 80px;
    height: 80px;
  }
}

.reviews__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: @color-font-grey-1;

  @media (min-width: @md-width) {
    font-size: 17px;
    line-height: 24px;
  }
}

.reviews__author {
  position: relative;

  display: flex;
  align-items: center;

  height: 28px;
  padding-left: 43px;

  font-family: @font-title;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: @color-orange;

  &::before {
    position: absolute;
    content: "";
    top: 1px;
    left: 0;

    width: 28px;
    height: 28px;

    border: 1px solid @color-orange;

    background-image: url("../img/instagram.svg");
    background-size: 16px 16px;
    background-position: center;
    background-repeat: no-repeat;
  }
}

.reviews__slider-btn {
  display: none;

  @media (min-width: @xl-width) {
    position: absolute;
    content: "";
    top: calc((100% - 50px - 10px - 38px - 24px) / 2 + 50px);
    z-index: 1;

    display: block;

    transform: translateY(-50%);
  }
}

.reviews__slider-btn--prev {
  left: 12px;
}

.reviews__slider-btn--next {
  right: 12px;
}

/* NO-JS */
.reviews--no-js .reviews__slider {
  overflow: auto;
}

.reviews--no-js .reviews__list {
  display: flex;
  grid-template-columns: repeat(auto-fit, 280px);
  gap: 20px;

  @media (min-width: @md-width) {
    grid-template-columns: repeat(auto-fit, 598px);
  }
}

.reviews--no-js .reviews__item-wrapper {
  opacity: 1;
  transform: scale(1);
}

.reviews--no-js .reviews__slider-controls {
  display: none;
}

.reviews--no-js .reviews__pagination {
  display: none;
}
