.reviews {
  // .wrapper-width();
}

.reviews__title {
  .wrapper();

  margin-bottom: 30px;

  font-family: @font-title;
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 39px;

    font-size: 50px;
    line-height: 50px;
  }

  @media (min-width: @desktop-width) {
    margin-bottom: 50px;

    font-size: 60px;
    line-height: 60px;
    text-align: center;
  }

}

.reviews__slider {
  // padding: 0 @mobile-padding;

  // @media (min-width: @tablet-width) {
  //   padding: 0;
  // }
}

.reviews__slider-wrapper {
  .wrapper();

  margin-bottom: 48px;

  overflow: hidden;

  @media (min-width: @tablet-width) {
    margin-bottom: 41px;
  }
}

.reviews__list-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.reviews__list {
  display: flex;
  gap: 20px;

  max-width: 280px;

  @media (min-width: @tablet-width) {
    max-width: 598px;
  }
}

.reviews__item {
  flex-shrink: 0;

  width: 100%;
  padding-top: 30px;
  padding-bottom: 6px;

  @media (min-width: @tablet-width) {
    padding-top: 50px;
  }
}

.reviews__item-wrapper {
  .border-decor-triangle--bottom(12px, 12px, 2px, @color-orange);
}

.reviews__item-content {
  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  box-sizing: border-box;
  min-height: 403px;
  padding: 50px 20px 40px;

  background-color: @color-back-black-01;
  .border-decor-triangle--top(12px, 12px, 2px, @color-orange);

  @media (min-width: @tablet-width) {
    min-height: 307px;
    padding: 50px;
  }
}

.reviews__img-container {
  position: absolute;
  top: -30px;
  left: 20px;

  @media (min-width: @tablet-width) {
    top: -51px;
    left: 50px;
  }
}

.reviews__img {
  width: 60px;
  height: 60px;

  @media (min-width: @tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.reviews__text {
  font-size: 15px;
  font-weight: 400;
  line-height: 21px;
  color: @color-font-grey-1;

  @media (min-width: @tablet-width) {
    font-size: 17px;
    line-height: 24px;
  }
}

.reviews__link {
  display: flex;
  align-items: center;
  gap: 15px;

  font-family: @font-title;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  color: @color-orange;

  .interactive-styles-alternative();
}

.reviews__link-icon-container {
  position: relative;

  box-sizing: border-box;
  width: 28px;
  height: 28px;

  border: 1px solid @color-orange;
}

.reviews__link-icon {
  position: absolute;
  top: 6px;
  left: 6px;
}

.reviews__slider-controls {
  display: none;
}
