.search-form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px 9px 53px;

  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
  color: @color-font-white;

  background-color: inherit;
  background-image: url("../../img/loupe.svg");
  background-repeat: no-repeat;
  background-position: top 12px left 20px;
  background-size: 19px 19px;
  border: 1px solid @color-btn-dark-orange;

  &:hover {
    color: @color-font-orange;
    border-color: @color-font-orange;
  }

  &:focus-visible {
    border-color: @color-font-orange;
    outline: none;
  }

  &:active {
    border-color: @color-font-orange;
  }
}

.search-form__input::placeholder {
  color: @color-font-grey;
}

// .search-form__input:hover::placeholder {
//   color: @color-font-grey;
// }
