.site-list {
  font-size: 20px;
  line-height: 30px;
  font-weight: 400;

  @media (min-width: @desktop-width) {
    font-size: 17px;
    line-height: 26px;
  }

  &--footer {
    font-size: 17px;
    line-height: 23px;
  }
}

.site-list__link {
  width: auto;

  .interactive-styles();
}

.site-list--header .site-list__link {
  @media (min-width: @desktop-width) {
    position: relative;

    &:hover {
      &::before,
      &::after {
        position: absolute;
        right: 0;
        left: 0;
        content: "";

        margin: 0 auto;
      }

      &::before {
        bottom: -20px;

        width: 1px;
        height: 15px;

        background-color: @color-orange;
      }

      &::after {
        bottom: -5px;

        .decor-rhombus(4.2px, @color-orange);
      }
    }
  }
}
