.site-list {
  font-size: 17px;
  font-weight: 400;
  line-height: 23px;
}

.site-list__item {
  width: fit-content;

  &:not(:last-of-type) {
    margin-bottom: 20px;
  }
}

.site-list__link {
  padding: 5px 0;

  .interactive-styles();
}


.site-list--nav-desktop {
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
}

.site-list--nav-desktop .site-list__item {
  margin-bottom: 0;
}

.site-list--nav-desktop .site-list__link {
  position: relative;

  &:hover {
    &::before,
    &::after {
      position: absolute;
      right: 0;
      left: 0;
      content: "";

      margin: 0 auto;
    }

    &::before {
      bottom: -15px;

      width: 1px;
      height: 15px;

      background-color: @color-orange;
    }

    &::after {
      bottom: 0;

      .decor-rhombus(4.1px, @color-orange);
    }
  }
}
