.social-list {
  display: flex;
  gap: 11px;
  flex-wrap: wrap;

  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.social-list__link {
  .interactive-styles();
}

.social-list--block {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
}

.social-list--block .social-list__item {
  display: flex;
}

.social-list--block .social-list__link {
  width: 40px;
  height: 40px;

  border: 1px solid @color-orange;

  background-repeat: no-repeat;

  &--telegram {
    background-image: url("../img/telegram.svg");
    background-size: 22px 19px;
    background-position: 7px 11px;
  }

  &--viber {
    background-image: url("../img/viber.svg");
    background-size: 24px 23px;
    background-position: center 7px;
  }

  &--whatsapp {
    background-image: url("../img/whatsapp.svg");
    background-size: 25px 25px;
    background-position: 7px 6px;
  }

  .interactive-styles-custom();
}

.social-list--block .social-list__link-text {
  display: none;
}
