.subscription {
  .wrapper-width();

  @media (min-width: @desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    // gap: 16px;
    align-items: center;

    max-width: @max-width;
    padding-right: 0;
    padding-left: 0;
  }
}

.subscription__content {
  .wrapper-padding();

  @media (min-width: @desktop-width) {
    justify-self: end;

    width: calc(@desktop-width / 2);
    padding-right: 84px;
  }
}

.subscription__title {
  margin-bottom: 20px;

  font-family: @font-title;
  font-size: 25px;
  font-weight: 400;
  line-height: 32px;

  @media (min-width: @tablet-width) {
    margin-bottom: 28px;

    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: @desktop-width) {
  }
}

.subscription__description {
  margin-bottom: 30px;
  font-size: 17px;
  font-weight: 500;
  line-height: 20px;

  @media (min-width: @tablet-width) {
    max-width: 540px;

    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.02em;
  }

  @media (min-width: @desktop-width) {
  }

}

.subscription__form {
  color: @color-font-grey-2;
}

.subscription__field-container {
  display: grid;

  gap: 16px;

  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    grid-template-columns: 1fr 1fr;
    gap: 20px;

    margin-bottom: 30px;
  }

  @media (min-width: @desktop-width) {
    grid-template-columns: 1fr;
    gap: 16px;

    margin-bottom: 20px;
  }
}

.subscription__label {
  display: flex;
  flex-direction: column;
  gap: 9px;

  padding-top: 3px;
}

.subscription__label-title {
  font-size: 17px;
  font-weight: 400;
  line-height: 24px;

}

.subscription__field {
  box-sizing: border-box;
  width: 100%;
  padding: 23px 30px;

  font-size: 17px;
  font-weight: 400;
  line-height: 24px;

  background-color: @color-back-light-02;
  border: none;

  &:hover {
    color: @color-dark-orange;
    outline: 1px solid @color-dark-orange;
  }

  &:focus-visible {
    outline: 1px solid @color-dark-orange;
  }

  &:active {
    outline: 1px solid @color-dark-orange;
  }

  // &:focus-visible {
  //   outline: 1px solid @color-dark-orange;
  // }
}

.subscription__field::placeholder {
  color: @color-font-grey-1;
}

.subscription__btn-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @media (min-width: @tablet-width) {
    flex-direction: row;
    gap: 45px;

    padding-left: 15px;
  }

  @media (min-width: @desktop-width) {
    flex-direction: column;
    align-items: start;
    gap: 46px;
  }

}

.subscription__control {
  display: flex;
  gap: 20px;
  align-items: center;
}

.subscription__control:focus-visible {
  outline: none;
}

.subscription__input:focus-visible {
  outline: none;
}

.subscription__mark {
  flex-shrink: 0;

  box-sizing: border-box;
  width: 20px;
  height: 20px;

  border: 2px solid @color-orange;

}

.subscription__input:checked + .subscription__mark {
  background-color: @color-orange;
  background-image: url("../../img/check.svg");
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 17px 14px;
}

.subscription__input:hover + .subscription__mark {
  background-color: @color-orange;
}

.subscription__mark:focus-visible {
  background-color: @color-orange;
  outline: none;
}



.subscription__control-title {
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
}

.subscription__btn {
  @media (min-width: @tablet-width) {
    order: -1;
  }

  @media (min-width: @desktop-width) {
    order: 0;
  }
}

.subscription__img-container {
  display: none;

  @media (min-width: @desktop-width) {
    display: block;
    padding-left: 8px;
  }
}
