.user-list {
  display: flex;
  gap: 50px;
}

.user-list__item {
  display: flex;
}

.user-list__link {
  position: relative;

  width: 28px;
  height: 28px;

  .interactive-styles();

  &--basket {
    width: auto;
    padding-right: 34px;
  }
}

.user-list__link svg {
  position: absolute;
}

.user-list__link--basket svg {
  top: 4px;
  right: 4px;
}

.user-list__link--favorites svg {
  top: 5px;
  left: 4px;

  fill-rule: evenodd;
}

.user-list__link--private svg {
  top: 5px;
  left: 5px;
}

.user-list__link--basket {
  display: flex;
  gap: 6px;
  align-items: center;
}

.user-list__item-text {
  font-weight: 400;
  font-size: 15px;
  line-height: 23px;
}

.user-list__item-quantity {
  position: absolute;
  top: -9px;
  right: -12px;

  padding: 0 5px;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;

  background-color: @color-orange;
}

.user-list__link:hover .user-list__item-quantity  {
  color: @color-font-white;
  background-color: @color-orange;
}
