@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/jost-regular.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Jost";
  font-style: bold;
  font-weight: 700;
  src:
    url("../fonts/jost-bold.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  src:
    url("../fonts/forum-regular.ttf");
  font-display: swap;
}
