.font-title {
  font-family: Forum, sans-serif;
}

.wrapper-width {
  box-sizing: border-box;
  width: 100%;

  @media (min-width: @desktop-width) {
    max-width: @max-width;
    margin-right: auto;
    margin-left: auto;
  }
}

.wrapper-padding {
  padding-right: @mobile-padding;
  padding-left: @mobile-padding;

  @media (min-width: @tablet-width) {
    padding-right: @tablet-padding;
    padding-left: @tablet-padding;
  }

  @media (min-width: @desktop-width) {
    padding-right: @desktop-padding;
    padding-left: @desktop-padding;
  }

}

.wrapper {
  .wrapper-width();
  .wrapper-padding();
}

.interactive-styles {
  &:hover {
    color: @color-font-orange;
  }

  &:focus-visible {
    color: @color-font-orange;

    outline: none;
  }

  &:active {
    color: @color-font-orange;
  }
}

.interactive-styles-alternative {
  &:hover {
    opacity: 0.7;
  }

  &:focus-visible {
    opacity: 0.7;

    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.cross-icon(@color) {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    top: 6px;
    right: 12px;

    width: 2px;
    height: 24px;
    margin: 0 auto;

    background-color: @color;

    content: "";
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.decor-rhombus(@width, @color) {
  width: @width;
  height: @width;

  background-color: @color;

  transform: rotate(45deg);
}

.border-decor-rhombus--bottom(@width, @border-width, @color) {
  position: relative;

  border-bottom: @border-width solid @color;

  &::before,
  &::after {
    position: absolute;
    content: "";
    bottom: calc((-@width - @border-width)/ 2);

    .decor-rhombus(@width, @color);
  }

  &::before {
    left: calc(-@width / 2 );
  }

  &::after {
    right: calc(-@width / 2)
  }
}

.decor-triangle (@width, @height, @color) {
  width: 0;
  height: 0;

  border-top: calc(@height / 2) solid transparent;
  border-bottom: calc(@height / 2) solid transparent;
  border-left: @width solid @color;
}

.border-decor-triangle(@width, @height, @color) {
  position: relative;

  &::before,
  &::after {
    position: absolute;
    content: "";

    .decor-triangle(@width, @height, @color);

    z-index: 10;
  }
}

.border-decor-triangle--top(@width, @height, @border-width, @color) {
  border: none;
  border-top: @border-width solid @color;

  .border-decor-triangle(@width, @height, @color);

  &::before {
    left: 0;
    top: calc((-@width - @border-width) / 2 );
  }

  &::after {
    right: 0;
    top: calc((-@width - @border-width) / 2 );
    transform: rotate(180deg);
  }
}

.border-decor-triangle--bottom(@width, @height, @border-width, @color) {
  border: none;
  border-bottom: @border-width solid @color;

  .border-decor-triangle(@width, @height, @color);

  &::before {
    left: 0;
    bottom: calc((-@width - @border-width) / 2 );
  }

  &::after {
    right: 0;
    bottom: calc((-@width - @border-width) / 2 );
    transform: rotate(180deg);
  }
}

.border-decor-triangle--right(@width, @height, @border-width, @color) {
  .border-decor-triangle(@width, @height, @color);

  &::before {
    top: 0;
    right: calc((-@height - @border-width) / 2 );

    transform: rotate(90deg);
  }

  &::after {
    bottom: 0;
    right: calc((-@height - @border-width) / 2 );

    transform: rotate(-90deg);
  }
}
