.wrapper-width {
  width: 100%;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: @xxl-width) {
    max-width: @max-width;
  }
}

.wrapper-padding {
  padding-right: @sm-padding;
  padding-left: @sm-padding;

  @media (min-width: @md-width) {
    padding-right: @md-padding;
    padding-left: @md-padding;
  }

  @media (min-width: @xl-width) {
    padding-right: @xl-padding;
    padding-left: @xl-padding;
  }

  @media (min-width: @xxl-width) {
    max-width: @xxl-width;
    padding-right: @xxl-padding;
    padding-left: @xxl-padding;
  }
}

.wrapper {
  .wrapper-width();
  .wrapper-padding();
}

.interactive-styles {
  &:hover {
    color: @color-orange;
  }

  &:focus-visible {
    color: @color-orange;
    outline: none;
  }

  &:active {
    color: @color-orange;
  }
}

.interactive-styles-custom {
  &:hover {
    opacity: 0.7;
  }

  &:focus-visible {
    opacity: 0.7;
    outline: none;
  }

  &:active {
    opacity: 0.7;
  }
}

.burger-icon(@color) {
  &::before{
    position: absolute;
    top: 6px;
    bottom: 0;
    right: 2px;

    width: 24px;
    height: 2px;
    margin: auto 0;

    background-color: @color;
    box-shadow: 0 6px @color, 0 -6px @color;

    content: "";
  }
}

.cross-icon(@color) {
  &::before,
  &::after {
    position: absolute;

    width: 2px;
    height: 24px;
    margin: 0 auto;

    background-color: @color;

    content: "";
  }

  &::before {
    transform: rotate(45deg);
  }

  &::after {
    transform: rotate(-45deg);
  }
}

.decor-rhombus(@width, @color) {
  width: @width;
  height: @width;

  background-color: @color;

  transform: rotate(45deg);
}

.border-decor-rhombus--bottom(@width, @border-width, @color) {
  position: relative;

  border-bottom: @border-width solid @color;

  &::before,
  &::after {
    position: absolute;
    content: "";
    bottom: calc((-@width - @border-width) / 2 );

    .decor-rhombus(@width, @color);
  }

  &::before {
    left: calc(-@width / 2 );
  }

  &::after {
    right: calc(-@width / 2)
  }
}

.decor-triangle(@width, @height, @color) {
  width: 0;
  height: 0;

  border-top: calc(@height / 2) solid transparent;
  border-bottom: calc(@height / 2) solid transparent;
  border-left: @width solid @color;
}

.border-decor-triangle(@width, @height, @color) {
  border: none;

  &::before,
  &::after {
    position: absolute;
    content: "";
    inset: auto;

    .decor-triangle(@width, @height, @color);

    z-index: 10;
  }
}

.border-decor-triangle--top(@width, @height, @border-width, @color) {
  .border-decor-triangle(@width, @height, @color);

  border-top: @border-width solid @color;

  &::before {
    left: 0;
    top: calc((-@width - @border-width) / 2 );
  }

  &::after {
    right: 0;
    top: calc((-@width - @border-width) / 2 );
    transform: rotate(180deg);
  }
}

.border-decor-triangle--bottom(@width, @height, @border-width, @color) {
  .border-decor-triangle(@width, @height, @color);

  border-bottom: @border-width solid @color;

  &::before {
    left: 0;
    bottom: calc((-@width - @border-width) / 2 );
  }

  &::after {
    right: 0;
    bottom: calc((-@width - @border-width) / 2 );
    transform: rotate(180deg);
  }
}

.border-decor-triangle--right(@width, @height, @border-width, @color) {
  .border-decor-triangle(@width, @height, @color);
  border-right: @border-width solid @color;

  &::before {
    top: 0;
    right: calc((-@height - @border-width) / 2 );

    transform: rotate(90deg);
  }

  &::after {
    bottom: 0;
    right: calc((-@height - @border-width) / 2 );

    transform: rotate(-90deg);
  }
}

.border-decor-triangle--left(@width, @height, @border-width, @color) {
  .border-decor-triangle(@width, @height, @color);
  border-left: @border-width solid @color;

  &::before {
    top: 0;
    left: calc((-@height - @border-width) / 2 );

    transform: rotate(90deg);
  }

  &::after {
    bottom: 0;
    left: calc((-@height - @border-width) / 2 );

    transform: rotate(-90deg);
  }
}
