@font-page: "Jost", sans-serif;
@font-title: "Forum", sans-serif;
@font-footer: "Montserrat", sans-serif;

@color-font-white: #faf6f2;
@color-font-dark: #3e424b;

@color-orange: #bb8c5f;
@color-dark-orange: #524336;

@color-violet: #755fbb;
@color-gren: #5fbba3;
@color-red: #c82a2a;

@color-font-grey-1: #d0d0d0;
@color-font-grey-2: #636b78;

@color-back-black-01: #050402;
@color-back-black-02: #030201;
@color-back-light-01: #eeeeee;
@color-back-light-02: #f5f5f5;

@color-pagination-grey: #e3e3e3;
@color-shadow-grey: #0000001a;

@min-width: 320px;
@max-width: 1920px;

@sm-width: 576px;
@md-width: 768px;
@xl-width: 1200px;
@xxl-width: 1400px;

@sm-padding: 20px;
@md-padding: 30px;
@xl-padding: 92px;
@xxl-padding: 92px;
