@font-face {
  font-family: "Jost";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/jost-regular.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Jost";
  font-style: bold;
  font-weight: 700;
  src: url("../fonts/jost-bold.ttf");
  font-display: swap;
}
@font-face {
  font-family: "Forum";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/forum-regular.ttf");
  font-display: swap;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1,
h2,
h3,
h4,
p {
  margin: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
button {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
}
a {
  display: inline-block;
  box-sizing: border-box;
  padding: 0;
  border: none;
  color: inherit;
  background-color: inherit;
  font: inherit;
  text-decoration: none;
  cursor: pointer;
}
.wrapper {
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1280px) {
  .wrapper {
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
  }
}
.interactive-styles-links:hover {
  color: #bb8c5f;
}
.interactive-styles-links:focus-visible {
  color: #bb8c5f;
  outline: none;
}
.interactive-styles-links:active {
  color: #bb8c5f;
}
.app-btn {
  font-size: 20px;
  font-weight: 400;
  line-height: 30px;
  text-align: center;
}
.page {
  min-width: 320px;
  height: 100%;
  margin: 0 auto;
  font-family: "Jost", sans-serif;
  font-size: 17px;
  line-height: 24px;
  vertical-align: middle;
  color: #3e424b;
  background-color: #eeeeee;
}
.page__body {
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  min-height: 100%;
  margin: 0;
}
.site-toggle {
  position: relative;
  padding-right: 38px;
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
}
.site-toggle--closed::after {
  position: absolute;
  content: "";
  bottom: 1px;
  right: 0;
  width: 28px;
  height: 28px;
  background-image: url("../../img/burger.svg");
  background-size: 24px 14px;
  background-repeat: no-repeat;
  background-position: center;
}
.site-toggle--opened {
  position: relative;
}
.site-toggle--opened::before,
.site-toggle--opened::after {
  position: absolute;
  content: "";
  top: 6px;
  right: 12px;
  width: 2px;
  height: 24px;
  margin: 0 auto;
  background-color: #bb8c5f;
}
.site-toggle--opened::before {
  transform: rotate(45deg);
}
.site-toggle--opened::after {
  transform: rotate(-45deg);
}
.site-toggle:hover {
  color: #bb8c5f;
}
.site-toggle:focus-visible {
  color: #bb8c5f;
  outline: none;
}
.site-toggle:active {
  color: #bb8c5f;
}
.address {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  white-space: nowrap;
}
.address:hover {
  color: #bb8c5f;
}
.address:focus-visible {
  color: #bb8c5f;
  outline: none;
}
.address:active {
  color: #bb8c5f;
}
.address__icon-container {
  position: relative;
  width: 28px;
  height: 28px;
}
.address__icon-container svg {
  position: absolute;
}
.address--phone svg {
  top: 4px;
  left: 4px;
}
.address--mail svg {
  top: 6px;
  left: 4px;
}
.social-list {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.social-list__link:hover {
  color: #bb8c5f;
}
.social-list__link:focus-visible {
  color: #bb8c5f;
  outline: none;
}
.social-list__link:active {
  color: #bb8c5f;
}
.contacts {
  display: grid;
  grid-template-columns: min-content min-content;
  column-gap: 56px;
}
.contacts__phone {
  grid-row: 1 / 1;
  grid-column: 1 / 2;
}
.contacts__social-list {
  grid-row: 2 / 2;
  grid-column: 1 / 3;
}
.contacts__schedule {
  display: none;
}
.contacts__mail {
  grid-row: 1 / 1;
  grid-column: 2 / 3;
}
.logo {
  width: 186px;
  height: 63px;
}
.logo__img {
  width: 186px;
  height: 63px;
}
.user-list {
  display: flex;
  gap: 50px;
}
.user-list__item {
  height: 28px;
}
.user-list__link {
  position: relative;
  width: 28px;
  height: 28px;
}
.user-list__link:hover {
  color: #bb8c5f;
}
.user-list__link:focus-visible {
  color: #bb8c5f;
  outline: none;
}
.user-list__link:active {
  color: #bb8c5f;
}
.user-list__item svg {
  position: absolute;
}
.user-list__item--basket svg {
  top: 4px;
  left: 4px;
}
.user-list__item--favorites svg {
  top: 5px;
  left: 4px;
}
.user-list__item--private svg {
  top: 5px;
  left: 5px;
}
.user-list__item--basket {
  position: relative;
  display: flex;
  gap: 6px;
  align-items: center;
}
.user-list__item-text {
  padding-top: 2px;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
}
.user-list__item-quantity {
  position: absolute;
  top: -9px;
  right: -12px;
  padding: 0 5px;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  background-color: #bb8c5f;
}
.catalog-toggle {
  padding-right: 36px;
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
}
.catalog-toggle--closed {
  background-image: url("../../img/burger.svg");
  background-size: 24px 14px;
  background-repeat: no-repeat;
  background-position: top 13px right 2px;
}
.catalog-toggle--opened {
  position: relative;
}
.catalog-toggle--opened::before,
.catalog-toggle--opened::after {
  position: absolute;
  content: "";
  top: 6px;
  right: 12px;
  width: 2px;
  height: 24px;
  margin: 0 auto;
  background-color: #bb8c5f;
}
.catalog-toggle--opened::before {
  transform: rotate(45deg);
}
.catalog-toggle--opened::after {
  transform: rotate(-45deg);
}
.catalog-toggle:hover {
  color: #bb8c5f;
}
.catalog-toggle:focus-visible {
  color: #bb8c5f;
  outline: none;
}
.catalog-toggle:active {
  color: #bb8c5f;
}
.search-form__input {
  box-sizing: border-box;
  width: 100%;
  padding: 10px 10px 9px 53px;
  border: 1px solid #524336;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  background-color: inherit;
  background-image: url("../../img/loupe.svg");
  background-size: 19px 19px;
  background-repeat: no-repeat;
  background-position: top 12px left 20px;
}
.search-form__input::placeholder {
  color: #636b78;
}
.site-list {
  font-size: 17px;
  font-weight: 400;
  line-height: 26px;
}
.site-list__link {
  position: relative;
  padding: 4px 0;
}
.site-list__link:hover {
  color: #bb8c5f;
}
.site-list__link:focus-visible {
  color: #bb8c5f;
  outline: none;
}
.site-list__link:active {
  color: #bb8c5f;
}
.site-list__link:hover::after {
  position: absolute;
  content: "";
  bottom: -10px;
  left: 0;
  right: 0;
  width: 6px;
  height: 18px;
  margin: 0 auto;
  background-image: url("../../img/line-15.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.main-nav {
  display: grid;
  grid-template-columns: min-content auto;
  align-items: center;
  column-gap: 50px;
  min-height: 80px;
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}
@media (min-width: 768px) {
  .main-nav {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1280px) {
  .main-nav {
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 768px) {
  .main-nav {
    grid-template-columns: min-content 1fr auto;
  }
}
@media (min-width: 1280px) {
  .main-nav {
    grid-template-columns: 1fr min-content 1fr;
    grid-template-rows: minmax(91px, min-content) auto;
    min-height: 160px;
  }
}
.main-nav__site-toggle {
  margin-bottom: 1px;
}
@media (min-width: 1280px) {
  .main-nav__site-toggle {
    display: none;
  }
}
@media (max-width: 1279px) {
  .main-nav__contacts {
    display: none;
  }
}
@media (min-width: 1280px) {
  .main-nav__contacts {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
}
.main-nav__logo {
  display: none;
}
@media (min-width: 1280px) {
  .main-nav__logo {
    display: block;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}
.main-nav__user-block {
  justify-self: end;
  margin-top: 4px;
  margin-right: 12px;
}
@media (min-width: 768px) {
  .main-nav__user-block {
    margin-top: 0;
    margin-right: 0;
  }
}
@media (min-width: 1280px) {
  .main-nav__user-block {
    grid-row: 1 / 2;
    grid-column: 3 / 4;
  }
}
@media (max-width: 767px) {
  .main-nav__favorites {
    display: none;
  }
}
@media (max-width: 767px) {
  .main-nav__private {
    display: none;
  }
}
.main-nav__menu-block {
  display: none;
}
@media (min-width: 768px) {
  .main-nav__menu-block {
    display: block;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
  }
}
@media (min-width: 1280px) {
  .main-nav__menu-block {
    position: relative;
    grid-row: 2 / 2;
    grid-column: 1 / 4;
    display: grid;
    grid-template-columns: min-content 1fr auto;
    gap: 60px;
    align-items: center;
    padding: 13px 0 12px 0;
  }
  .main-nav__menu-block::before {
    position: absolute;
    content: "";
    top: 0;
    width: 100%;
    height: 6px;
    background-image: url("../../img/line-menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: auto;
  }
}
@media (max-width: 1279px) {
  .main-nav__catalog-toggle {
    display: none;
  }
}
@media (max-width: 767px) {
  .main-nav__search-form {
    display: none;
  }
}
.main-nav__site-list {
  justify-self: end;
  display: flex;
  gap: 60px;
  flex-wrap: wrap;
}
@media (max-width: 1279px) {
  .main-nav__site-list {
    display: none;
  }
}
.page-header {
  color: #faf6f2;
  background-color: #050402;
}
.slider__arrow {
  position: relative;
  width: 40px;
}
.slider__arrow::before {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  box-sizing: border-box;
  width: 40px;
  height: 40px;
  border: 1.5px solid #bb8c5f;
}
.slider__arrow--prev::before {
  bottom: 0;
}
.slider__arrow--next::before {
  top: 0;
}
.slider__arrow::after {
  position: absolute;
  content: "";
  left: 0;
  right: 0;
  box-sizing: border-box;
  margin: auto;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
}
.slider__arrow--prev {
  height: 62px;
}
.slider__arrow--prev::after {
  top: 0;
  width: 10px;
  height: 41px;
  background-image: url("../../img/line-36.svg");
}
.slider__arrow--next {
  height: 90px;
}
.slider__arrow--next::after {
  bottom: 0;
  width: 10px;
  height: 69px;
  background-image: url("../../img/line-64.svg");
}
.slider__pagination-item {
  display: flex;
}
.slider__pagination-btn {
  width: 16px;
  height: 16px;
  border: 1px solid #524336;
}
.slider__pagination-btn--current {
  position: relative;
}
.slider__pagination-btn--current::before {
  position: absolute;
  content: "";
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 10px;
  height: 10px;
  margin: auto;
  background-color: #bb8c5f;
}
.intro {
  color: #faf6f2;
  background-color: #0a0807;
}
.intro__slider {
  display: grid;
}
@media (min-width: 768px) {
  .intro__slider-wrapper {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
  }
}
.intro__wrapper {
  display: grid;
  box-sizing: border-box;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 10px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .intro__wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 1280px) {
  .intro__wrapper {
    max-width: 1280px;
    padding-left: 32px;
    padding-right: 32px;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (max-width: 767px) {
  .intro__wrapper {
    padding-left: 5px;
    padding-right: 5px;
  }
}
@media (min-width: 768px) {
  .intro__wrapper {
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    grid-template-rows: min-content min-content;
    gap: 70px;
    padding-top: 48px;
    padding-bottom: 72px;
  }
}
@media (min-width: 1280px) {
  .intro__wrapper {
    grid-template-columns: 1fr min-content;
    grid-template-rows: auto;
    align-items: center;
    padding-top: 110px;
    padding-bottom: 210px;
  }
}
@media (min-width: 768px) {
  .intro__content {
    grid-row: 1 / 2;
    grid-column: 1 / -1;
  }
}
@media (min-width: 1280px) {
  .intro__content {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }
}
.intro__title {
  box-sizing: border-box;
  max-width: 295px;
  margin-bottom: 21px;
  padding-left: 15px;
  font-family: "Forum";
  font-size: 35px;
  font-weight: 400;
  line-height: 35px;
  color: #bb8c5f;
}
@media (min-width: 768px) {
  .intro__title {
    max-width: 480px;
    margin-bottom: 30px;
    padding: 0;
    font-size: 60px;
    line-height: 60px;
  }
}
@media (min-width: 1280px) {
  .intro__title {
    max-width: 600px;
    font-size: 75px;
    line-height: 75px;
  }
}
.intro__description {
  box-sizing: border-box;
  max-width: 295px;
  margin-bottom: 39px;
  padding-left: 15px;
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}
@media (min-width: 768px) {
  .intro__description {
    max-width: 480px;
    padding-left: 0;
    margin-bottom: 40px;
    font-size: 25px;
    line-height: 35px;
  }
}
@media (min-width: 1280px) {
  .intro__description {
    max-width: 600px;
    margin-bottom: 60px;
  }
}
.intro__btn {
  width: 310px;
  min-height: 70px;
  padding: 20px 20px 20px 20px;
  background-image: url("../../img/btn-back-310.svg");
  background-repeat: no-repeat;
  background-size: 310px 70px;
  background-position: center;
}
@media (min-width: 768px) {
  .intro__btn {
    width: 275px;
    background-image: url("../../img/btn-back-275.svg");
    background-size: 275px 70px;
  }
}
.intro__slider__img {
  object-fit: cover;
}
@media (min-width: 768px) {
  .intro__slider-controls {
    grid-row: 2 / 3;
    grid-column: 1 / -1;
  }
}
@media (min-width: 1280px) {
  .intro__slider-controls {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
}
.intro__slider-arrow-btn {
  display: none;
}
@media (min-width: 1280px) {
  .intro__slider-arrow-btn {
    display: block;
  }
}
.intro__slider-pagination {
  display: none;
}
@media (min-width: 768px) {
  .intro__slider-pagination {
    display: flex;
    gap: 15px;
    justify-content: center;
  }
}
@media (min-width: 1280px) {
  .intro__slider-pagination {
    flex-direction: column-reverse;
  }
}
/*# sourceMappingURL=style.css.map */
